include *.rst
include LICENSE.txt
include requirements.txt

# mripy
recursive-include mripy *.ipy   # Mainly in mripy/scripts
recursive-include mripy *.sh    # Mainly in mripy/scripts
recursive-include mripy *.m     # Mainly in mripy/matlab
recursive-include mripy *.json  # Mainly in mripy/data

include mripy/__version__
include mripy/scripts/ipython_wrapper

# mripy/tests
recursive-include mripy *.nii *.nii.gz   # Mainly in mripy/tests/testdata

# examples
recursive-include examples *.txt *.py *.ipy *.ipynb